/*
Style the paragraphs: use a Serif font, increase the spacing a little, use a basic size that makes it easy to read. Give the text a dark color, but not black.
Style links so that they are easily readable.
Style the "hover" and "visited" state of the links.
*/

body {
    max-width: 90%;
    margin: auto;
    background: linear-gradient(90deg, rgb(237, 22, 181), rgb(30, 106, 182));
    background-image: url("the_pros.jpeg") ;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover


}

p {
    font-family: 'Times New Roman', Times, serif;
    color:darkblue;
    word-spacing: 3px;

}

a{
    color: darkgreen;
}

a:hover{
    color: aquamarine;
}

a:visited{
    color:darkgray;
}

q{
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 160%;
    background-color: grey;
    border-left: 3px;
    border-left-style:dashed;
    border-left-color: black;
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-style: italic;
    
}

.Good .Bad{
    text-transform: capitalize;
}

.Bad{
    color:red;
}

.Good{
    color:green;
}

tr:nth-of-type(even){
    background-color:white;
}

tr:nth-of-type(odd){
    background-color: grey;
}

p:first-of-type{
    font-weight: bold;
}

img{
    display: inline-block;
    float: right;
}